<%= stylesheet_link_tag 'redmine_simple', :plugin => 'redmine_simple' %>
<%= javascript_include_tag 'simplify_assignee', :plugin => 'redmine_simple' %>
<div id="issue-new-content">
  <%= render :partial => 'new_content' %>
</div>
