.icon-arrow-in {
  background-image: url(../images/arrow_in.png);
}

.icon-arrow-out {
  background-image: url(../images/arrow_out.png);
}

.simplify-on, .simplify-off {
  float: right;
}

.simple-box input {
  width: 99%;
}

.simple-box textarea {
  width: 99%;
  min-width: 99%;
  max-width: 99%;
}

.tabular .no-label {
  margin-left: -180px;
  padding-right: 180px;
}

.simple-box {
  padding:6px;
  margin-bottom: 10px;
  background-color:#f6f6f6;
  color:#505050;
  line-height:1.5em;
  border: 1px solid #e4e4e4;
}

.simple-buttons {
}

input#issue_assigned_to_id_ac {
  width: 60%;
}

#new-member-candidate {
  font-weight: bold;
}

#ruler {
  position: absolute;
  top: 115px;
  left: 0px;
  width: 1000px;
  background-color: gray;
  height: 1px;
}

.simple-box.tabular label {
  margin-top: 2px;
}

.tabular p.select2-field label {
  margin-top: 5px;
}

.simple-hidden {
  display: none;
}
