.icon-arrow-in {
  background-image: url(../images/arrow_in.png);
}

.icon-arrow-out {
  background-image: url(../images/arrow_out.png);
}

.simplify-on, .simplify-off {
  display: none;
  margin-left: 20pt;
}

.simplify-on.active, .simplify-off.active {
  display: inline;
}

#issue_assigned_to_id_ac {
  width: 60%;
}
